// SUSY SETUP
@import "susyone";
@import "compass/css3/border-radius";
@import "compass/css3/transition";
@import "compass/typography";


$total-columns			: 12;
$colums-width			: 4em;
$gutter-width			: 1em;
$grid-padding			: $gutter-width;

@include border-box-sizing;

$small			: 30em;
$medium 			: 47em;
$large			: 75em;



// HEADER

header {
	
	img {
		width: 95%;
		margin: 2.5%;
		max-width: 500px;
		margin-bottom: 0;
	}

	.hero {
		width: 100%;
		@include at-breakpoint($medium) {
			@include single-transition(all, 1s, ease-out);
			position: relative;
			display: block;
			width: 100%;
			height: 450px;

			@include background(linear-gradient(bottom left, rgba(#fff, .6), rgba(#fff, 0)),image-url('misc/pencils.jpg'));
			background-position: center center;
			-webkit-background-size: cover;
			background-size: cover;
			background-repeat: no-repeat;
			background-attachment: fixed;
			margin: 0 auto;

			// position del bg
			.branding {
				position: absolute;
				bottom: 0;
			}

		}
	}
}



// NAVIGATION

.navigation {
	background: lighten($darkblue, 15);

	ul.nav {
		@include at-breakpoint($small) {
			@include horizontal-list;
		}
		
		li {

			i {
				color: lighten($yellow, 20);
				padding-right: .5em;
			}//icons

			a {
				display: block;
				text-decoration: none;
				padding: 5px 10px;
				color: $paleryellow;
				@include single-transition(all, .7s, ease-out);

				&:hover {
					background: $orange;

					a {
						color: lighten($yellow, 30);
					}
				}
			}
		}
	}
}

// SPEAKERSLIST ----------------------------------------------------------------

.speakerslist {

	@include single-transition(all, .5s, ease-out);

	img.speaker {
		float: none;
		width: 40%;
		max-width: 170px;
		margin: 0 auto;
		@include border-radius(50%);
	}

	@include at-breakpoint($medium) {
		text-align: center;
		@include background(linear-gradient(top, lighten($darkblue, 3), $darkblue));
		overflow: hidden;
		color: rgba($paleyellow, 50);
		padding-bottom: 10px;

		#{headings()} {
			text-shadow: none;
			border-bottom: none !important;
		}

		h1 {
			font-size: 2.6rem;
			line-height: 1em;
			color: green;
			@include at-breakpoint($large) {
				font-size: 4rem;
				line-height: 1em;
			}
		}

		h3 {
			color: lighten($yellow, 10);
			line-height: 1.9rem;
		}

		.small {
			padding-top: .4em !important;
			line-height: 1em;
			color: lighten($darkblue, 30);

			a {
				color: lighten($darkblue, 30);
				text-decoration: none;

				&:hover {
					color: lighten($darkblue, 50);
				}
			}
		}

		img.speaker {
			float: none;
			width: 40%;
			max-width: 170px;
			margin: 0 auto;
			@include border-radius(50%);
		}

		.small {
			display: block;
		}

		p:nth-of-type(2) {
			font-weight: 200px !important;
			text-align: left;
			font: .8em;
			line-height: 0;
			line-height: 0;
			@include single-transition(all, .5s, ease-out);
			opacity: 0;
		}

		&:hover {
			p:nth-of-type(2) {
				line-height: 1.5em;
				opacity: 1;
			}
		}

		.artist {
			@include span-columns(4,12);
		}

		.artist:nth-of-type(3) {
			@include span-columns(4 omega, 12);
		}
	}
}

// FOOTER

footer {
	color: $paleyellow;
	background: lighten($darkblue, 3);
	margin-top: 20px;
	padding-top: 20px;
	padding-bottom: 50px;
}


// LAYOUT 

// content
.layout {
	@include container;
	padding: 0 3%;
	
	// PRIMARY

	.primary {
		margin-top: .2em;
		@include at-breakpoint($medium) {
			@include span-columns(8,12);

			#nextmeeting {
				@include border-radius(20px);color: $paleyellow;
				margin-bottom: 10px;
				margin-top: 10px;
				background: $cyan;
				padding: 0 20px 20px 20px;

				h1 {
					color: ($cyan, 15);
					border: none;
					text-shadow: none;
					margin-bottom: 20px;
				}

				a {
					color: $darkblue;
				}
			}
		}  //medium
	}  //primary

	// SECONDARY

	.secondary {
		@include at-breakpoint($medium) {
			@include span-columns(4 omega, 12);
			font-size: 1.1em;
			color: $orange;
		}
	}

}  //layout


