@import "compass/utilities/general/clearfix";
@import "compass/css3/border-radius";

.speakers {
	.artist {
		@include clearfix;

		h3 {
			padding-top: 10px;
			padding-bottom: 5px;
			border-bottom: 1px dotted $lightgray;
			margin-bottom: 5px;
		}

		img {
			@include border-radius(5px);
			width: 120px;
			float: left;
			margin {
				right: 10px;
				bottom: 10px;
			}
		}
	}
}

#nextmeeting {
	@include clearfix;

	img {
		width: 30%;
		max-width: 130px;
		float: left;
		margin-right: 3%;
	}
}

.socialmediaicons {
	.title {
		float: left;
	}

	ul {
		float: left;

		li {
			display: inline-block;
			margin-left: 5px;

			img {
				width: 30px;
				@include border-radius(50%);
			}
		}
	}
}

.pixgrid {
	@include clearfix;
	margin-top: 10px;

	img {
		@include border-radius;
		width: 30%;
		max-width: 120px;
		cursor: pointer;
	}
}